<div>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#/">Traveller</a>
			</div>
		</div>
	</nav>
	<div class="main-frame">
		<div style="margin-top: 10px">
			<span><label>Name:</label></span>
			<span>
				<div>
					<input type="text" class="form-control" ng-model="event.name">
				</div></span>
		</div>
		<div>
			<span style="vertical-align: top"><label>Description:</label></span>
			<span>
				<div>
					<textarea rows="2" cols="40" ng-model="event.description" style="max-width: 100%; border: 2px solid #dce4ec; border-radius: 4px;"></textarea>
				</div></span>
		</div>
		<div>
			<span><label>Type:</label></span>
			<span>
				<div>
					<select class="form-control" ng-init="event.type = event.type || 'Club'" ng-model="event.type">
						<option value="Club">Club</option>
						<option>Bar</option>
					</select>
				</div></span>
		</div>
		<div>
			<span><label for="country">Country:</label></span>
			<span>
				<select class="form-control" ng-init="event.country = event.country || 'Country'" ng-model="event.country">
					<option value="Country">Country</option>
					<option>South-Africa</option>
				</select></span>
		</div>
		<div>
			<span><label for="state">State:</label></span>
			<span>
				<select class="form-control" ng-init="event.state = event.state || 'State'" ng-model="event.state">
					<option value="State">State</option>
					<option>Gauteng</option>
				</select></span>
		</div>
		<div>
			<span><label for="city">City:</label></span>
			<span>
				<select class="form-control" ng-init="event.city = event.city || 'City'" ng-model="event.city">
					<option value="City">City</option>
					<option>Pretoria</option>
				</select></span>
		</div>
		<div>
			<span><label>Website:</label></span>
			<span>
				<div>
					<input type="text" class="form-control" ng-model="event.site">
				</div></span>
		</div>
		<span><label>Date:</label></span>
		<span>
			<div class='input-group date' id='datetimepicker1' style="display: inline-block; width: 100%">
				<input style="width: 75%" type='text' class="form-control" dateget="event.date"/>
				<span style="width: 25%; padding: 0px" class="input-group-addon"> <span style="padding: 5px" class="glyphicon glyphicon-calendar"></span> </span>
			</div> </span>
		<script type="text/javascript">
			$(function() {
				$('#datetimepicker1').datetimepicker({
					format : 'DD/MM/YYYY',
					defaultDate : new Date(),
					minDate : new Date()
				});
			});
		</script>
		<div>
			<span><label>Time:</label></span>
			<span>
				<div>
					<input type="text" class="form-control" ng-model="event.time">
				</div></span>
		</div>
		<div>
			<span><label>Image:</label></span>
			<span>
				<input type="file" class="form-control" fileread="event.img"/>
			</span>
		</div>
		<div style="padding-left: 18px; border-top: 1px solid #ecf0f1">
			<span><a href="#/login">
				<button class="btn btn-success btn-block" ng-click="create()">
					Create
				</button> </a></span>
			<span><a href="#/login">
				<button class="btn btn-success btn-block">
					Close
				</button> </a></span>
		</div>
	</div>
	<div>

		<footer>
			<p>
				&copy; Copyright  by The Traveller Corporation
			</p>
		</footer>
	</div>
</div>
