<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<ul class="nav navbar-nav pull-left">
				<li class="dropdown">
					<a href="" id="menu-toggle"><span style="font-size: 20px" class="glyphicon glyphicon-align-justify"></span></a>
					<script>
						$("#menu-toggle").click(function(e) {
							e.preventDefault();
							$("#wrapper").toggleClass("toggled");
						});
					</script>
				</li>
			</ul>
			<div class="form-group pull-left">
				<a href="#/"><span style="font-size: 20px" class="glyphicon glyphicon-home"></span></a>
			</div>
			<div class="form-group pull-left" ng-show="id != -1">
				<a href="#/login" ng-click="refresh()"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{alias}}</a>
			</div>
		</div>
	</div>
</nav>
<div id="wrapper">

	<!-- Sidebar -->
	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<div  style="margin-top: 10px">
				<div ng-show="id != -1">
					<li>
						<a href="#/login"><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;My Events</a>
					</li>
					<li>
						<a href="#/" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Logout</a>
					</li>
				</div>
				<li>
					<a href="#/about"><span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;About</a>
				</li>
				<li>
					<a href="#/terms"><span class="glyphicon glyphicon-inbox"></span>&nbsp;&nbsp;Terms</a>
				</li>
				<li>
					<a href="#/privacy"><span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;Privacy</a>
				</li>
			</div>
		</ul>
	</div>
</div>
<!-- /#sidebar-wrapper -->

<!-- Page Content -->

<div id="page-content-wrapper">
	<br>
	<div class="main-frame" style="margin-top: 65px">
		<div style="margin-top: 10px">
			<span><label>Name:</label></span>
			<span>
				<div>
					<input placeholder="Event Name" type="text" class="form-control" ng-model="event.name" required>
				</div></span>
		</div>
		<div>
			<span style="vertical-align: top"><label>Description:</label></span>
			<span>
				<div>
					<textarea rows="2" cols="45" ng-model="event.description" style="max-width: 100%; border: 2px solid #dce4ec; border-radius: 4px;"></textarea>
				</div></span>
		</div>
		<div>
			<span><label>Type:</label></span>
			<span>
				<div>
					<select class="form-control" ng-options="val for (key, val) in types" ng-model="type"></select>
				</div></span>
		</div>
		<div>
			<span><label>Price:</label></span>
			<span>
				<div>
					<select style="width: 50px; display: inline-block" class="form-control" ng-init="event.currency = event.currency || 'R'" ng-model="event.currency">
						<option value="R">R</option>
						<option>$</option>
					</select>
					<input placeholder="0" style="max-width:310px; display: inline-block" type="text" class="form-control" ng-model="event.price"required>
				</div></span>
		</div>
		<div style="margin-top: 10px">
			<span><label for="country">Country:</label></span>
			<span> <select class="form-control" id="country" ng-change="getStates()" ng-model="country" ng-options="item.name for item in countries"></select></span>
		</div>
		<div>
			<span><label for="state">State:</label></span>
			<span> <select class="form-control" id="state" ng-change="getCities()" ng-model="state" ng-options="item.name for item in states"></select></span>
		</div>
		<div>
			<span><label for="city">City:</label></span>
			<span> <select class="form-control" id="city" ng-model="city" ng-options="item.name for item in cities"></select></span>
		</div>
		<div>
			<span><label>Suburb:</label></span>
			<span>
				<div>
					<input placeholder="Suburb Name" type="text" class="form-control" ng-model="event.suburb">
				</div></span>
		</div>
		<div>
			<span><label>Street:</label></span>
			<span>
				<div>
					<input type="text" placeholder="Street Name and No." class="form-control" ng-model="event.street">
				</div></span>
		</div>
		<div>
			<span><label>Website:</label></span>
			<span>
				<div>
					<input placeholder="www.event.com" type="text" class="form-control" ng-model="event.site" required>
				</div></span>
		</div>
		<span><label>Date:</label></span>
		<span>
			<div class='input-group date' id='datetimepicker1' style="display: inline-block; width: 100%">
				<input style="width: 75%; height: 27px" type='text' class="form-control" dateget="date"/>
				<span style="width: 25%; padding: 0px" class="input-group-addon"> <span style="padding: 5px; font-size: " class="glyphicon glyphicon-calendar"></span> </span>
			</div> </span>
		<script type="text/javascript">
			$(function() {
				$('#datetimepicker1').datetimepicker({
					format : 'YYYY-MM-DD',
					defaultDate : new Date(),
					minDate : new Date()
				});
			});
		</script>
		<div>
			<span><label>Time:</label></span>
			<span>
				<div>
					<input placeholder="00:00" type="text" class="form-control" ng-model="event.time">
				</div></span>
		</div>
		<div>
			<span><label>Image:</label></span>
			<span>
				<input type="file" accept="image/*" class="form-control" fileread="event.img"/>
			</span>
		</div>
		<div style="border-top: 1px solid #ecf0f1">
			<span><a href="">
				<button class="btn btn-success btn-block" ng-click="createEvent()">
					Create
				</button> </a></span>
			<span><a href="#/login">
				<button class="btn btn-success btn-block">
					Close
				</button> </a></span>
		</div>
	</div>
	<div>
		<p style="color: #fff" align="center">
			&copy; Copyright 2017 by The Traveller Corporation. Designed by Sabrsoft. All Rights Reserved
		</p>
	</div>
</div>
</div>