<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<ul class="nav navbar-nav pull-left">
				<li class="dropdown">
					<a href="" id="menu-toggle"><span style="font-size: 20px" class="glyphicon glyphicon-align-justify"></span></a>
					<script>
						$("#menu-toggle").click(function(e) {
							e.preventDefault();
							$("#wrapper").toggleClass("toggled");
						});
					</script>
				</li>
			</ul>
			<div class="form-group pull-left">
				<a href="#/"><span style="font-size: 20px" class="glyphicon glyphicon-home"></span></a>
			</div>
			<div class="form-group pull-right" ng-show="id == -1" style="padding-right: 15px">
				<a href="#/sign"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Login</a>
			</div>
			<div class="form-group pull-left" ng-show="id != -1">
				<a href="#/login"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{alias}}</a>
			</div>
		</div>
	</div>
</nav>
<div id="wrapper">

	<!-- Sidebar -->
	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<div style="margin-top: 10px">
				<div ng-show="id != -1">
					<li>
						<a href="#/login"><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;My Events</a>
					</li>
					<li>
						<a href="#/create"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;New Event</a>
					</li>
				</div>
				<li>
					<a href="#/about"><span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;About</a>
				</li>
				<li>
					<a href="#/terms"><span class="glyphicon glyphicon-inbox"></span>&nbsp;&nbsp;Terms</a>
				</li>
				<li>
					<a href="#/privacy"><span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;Privacy</a>
				</li>
				<li ng-show="id != -1">
					<a href="#/" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Logout</a>
				</li>
			</div>
		</ul>
	</div>
	<!-- /#sidebar-wrapper -->
</div>
<!-- Page Content -->

<div id="page-content-wrapper">
	<br>
	<div class="main-frame" style="max-width: 900px;margin-top: 65px">
		<div class="navbar-header">
			<label style="padding: 10px 0px 5px 0px; margin-left: 0px">Events in {{city}}</label>
		</div>
	</div>
	<div class="main-frame" style="max-width: 900px;">
		<div class="navbar-header mobile-hide fixed" style=" border-bottom: 1px solid #dce4ec;border-radius: 4px;">
			<div style="display: inline-block; width: 70%;">
				<label class="mobile-hide">Filter by:&nbsp;&nbsp;&nbsp;</label>
				<select ng-options="val for (key, val) in types" ng-model="typeSelect" ng-change="filterEvents()"></select>
				<label class="mobile-hide">Search:&nbsp;&nbsp;&nbsp;</label>
				<input type="text" id="eventName" ng-model="find">
				<a ng-click="searchEvents()" href=""><span style="width: auto;" class="glyphicon glyphicon-search"></span></a>
			</div>
		</div>
		<div class="navbar-header mobile-show" style=" border-bottom: 1px solid #dce4ec;border-radius: 4px; display:none">
			<div style="display: inline-block; width: 30%;">
				<label class="mobile-hide">Filter by:&nbsp;&nbsp;&nbsp;</label>
				<select ng-options="val for (key, val) in types" ng-model="typeSelect" ng-change="filterEvents()"></select>
			</div>
			<div style="display: inline-block; width: 69%">
				<input type="text" id="eventName" ng-model="find">
				<a ng-click="searchEvents()" href=""><span style="width: auto;" class="glyphicon glyphicon-search"></span></a>
			</div>
		</div>
		<div class="events-container">
			<div class="event-form" ng-repeat="item in events | orderBy: 'Date'">
				<span style="width: 33% !important;">
					<div class="image-padding" align="center" ng-hide="events[0].Name == 'No More Events'" >
						<img ng-src="{{item.Image}}"/>
					</div> </span>
				<span class="mobile-desc" style="padding-right: 10px">
					<div style="margin-bottom: 10px">
						<h1>{{item.Name}}</h1><a ng-hide="events[0].Name == 'No More Events'" style="font-size: 25px; float: right; padding: 0px !important" class="glyphicon glyphicon-calendar" href="#/events/{{item.Id}}/{{item.Name}}"></a>
					</div>
					<br>
					<div class="mobile-hide"  ng-hide="events[0].Name == 'No More Events'" ng-click="searchAlias(item.Alias)">
						<a href="" style="font-size: 20px">@&nbsp;&nbsp;&nbsp;&nbsp;{{item.Alias}}</a>
					</div>
					<div class="mobile-hide"  ng-hide="events[0].Name == 'No More Events'">
						<a style="font-size: 16px" class="glyphicon glyphicon-globe" href="http://{{item.Site}}">&nbsp;{{item.Site}}</a>
					</div>
					<div class="mobile-hide"  ng-hide="events[0].Name == 'No More Events'">
						<a style="font-size: 16px" class="glyphicon glyphicon-map-marker" href="https://www.google.com.br/maps/place/{{item.Addr}},{{item.City}},{{item.State}},{{item.Country}}">&nbsp;{{item.Addr}}</a>
					</div>
					<div class="mobile-show" style="display: none" style="padding-top: 8px" ng-hide="events[0].Name == 'No More Events'">
						<a style="font-size: 16px" class="glyphicon glyphicon-globe" href="http://{{item.Site}}"></a>
						&nbsp;&nbsp;
						<a style="font-size: 16px" class="glyphicon glyphicon-map-marker" href="https://www.google.com.br/maps/place/{{item.Addr}},{{item.City}},{{item.State}},{{item.Country}}"></a>
						&nbsp;&nbsp;
						<a href="" ng-click="searchAlias(item.Alias)">@&nbsp;&nbsp;{{item.Alias}}</a>
					</div> </span>
				<span ng-hide="events[0].Name == 'No More Events'">
					<div>
						<label class="mobile-hide">Type: </label><label>{{type(item.Type)}}</label>
					</div>
					<div>
						<label class="mobile-hide">Date: </label><label>{{item.Date | dateToISO | date:"dd/MM/yyyy"}}</label>
					</div>
					<div>
						<label class="mobile-hide">Time: </label><label>{{item.Date | dateToISO | date:"HH:mm"}}</label>
					</div>
					<div>
						<label class="mobile-hide">Price:</label><label>{{item.Currency}} {{item.Price}}</label>
					</div></span>
			</div>
			<div style="border-top: 1px solid #ecf0f1">
				<span>
					<button type="button" class="btn btn-success btn-block" ng-click="prev()">
						Previous
					</button> </span>
				<span>
					<button ng-hide="events[0].Name == 'No More Events'" type="button" class="btn btn-success btn-block" ng-click="next()">
						Next
					</button> </span>
			</div>
		</div>
	</div>
	<div>
		<p style="color: #fff" align="center">
			&copy; Copyright 2017 by The Traveller Company. Designed by Sabrsoft. All Rights Reserved
		</p>
	</div>
</div>

