<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<ul class="nav navbar-nav pull-left">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="">Menu<span class="caret"></span></a>
					<ul class="dropdown-menu" ng-show="id == ' '">
						<li>
							<a href="#/sign"><span class="glyphicon glyphicon-log-in"></span> Login</a>
						</li>
					</ul>
					<ul class="dropdown-menu" ng-show="id != ' '">
						<li>
							<a href="#/login"><span class="glyphicon"></span>My Events</a>
						</li>
						<li>
							<a href="#/create"><span class="glyphicon"></span>New Event</a>
						</li>
						<li>
							<a href="#/" ng-click="logout()"><span class="glyphicon"></span>Logout</a>
						</li>
					</ul>
				</li>
			</ul>
			<a class="navbar-brand" href="#/">Traveller</a>
			<ul class="nav navbar-nav-icon pull-right">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href=""><span class="glyphicon glyphicon-search"></span></a>
					<ul class="dropdown-menu pull-right">
						<div class="form-group">
							<label for="eventName">Event Name:</label>
							<input type="text" class="form-control" id="eventName">
						</div>
						<div class="table-dist">
							<span> <label class="checkbox-inline">
									<input type="checkbox" value="">
									Club</label></span>
							<span><label class="checkbox-inline">
									<input type="checkbox" value="">
									Bar</label></span>
						</div>
						<div class="table-dist">
							<span> <label class="checkbox-inline">
									<input type="checkbox" value="">
									Club</label></span>
							<span><label class="checkbox-inline">
									<input type="checkbox" value="">
									Bar</label></span>
						</div>
						<div class="table-dist">
							<span> <label class="checkbox-inline">
									<input type="checkbox" value="">
									Club</label></span>
							<span><label class="checkbox-inline">
									<input type="checkbox" value="">
									Bar</label></span>
						</div>
						<p></p>
						<div>
							<button class="btn btn-success btn-block">
								Search
							</button>
						</div>
					</ul>
				</li>
			</ul>
			<div class="form-group pull-right">
				<select class="form-control" id="sel1">
					<option>English</option>
				</select>
			</div>
		</div>
	</div>
</nav>
<div class="main-frame">
	<div class="navbar-header">
		Events in {{city}}
	</div>
</div>
<div class="main-frame">
	<div class="event-form" ng-repeat="item in events | orderBy: 'Date'">
		<span>
			<div align="center" ng-hide="events[0].Name == 'No More Events'">
				<img ng-src="data:image/PNG;base64,{{item.Image}}"/>
			</div> </span>
		<span>
			<div>
				<h1>{{item.Name}}</h1>
			</div>
			<br>
			<div>
				<p>
					{{item.Description}}
				</p>
			</div> </span>
		<span ng-hide="events[0].Name == 'No More Events'">
			<div>
				<label>Type:</label><label>{{type(item.Type)}}</label>
			</div>
			<br>
			<div>
				<label>Date: </label><label>{{item.Date | jsDate | date:"dd/MM/yyyy"}}</label>
			</div>
			<br>
			<div>
				<label>Time: </label><label>{{item.Date | jsDate | date:"HH:mm"}}</label>
			</div>
			<br>
			<div>
				<label>Price:</label><label>{{item.Currency}} {{item.Price}}</label>
			</div>
			<br>
			<div>
				<label>Website: </label><label><a href="{{item.Site}}">{{item.Site}}</a></label>
			</div> </span>
	</div>
	<div style="border-top: 1px solid #ecf0f1">
		<span>
			<button type="button" class="btn btn-success btn-block" ng-hide="events[0].Id == 1" ng-click="prev()">
				Previous
			</button> </span>
		<span>
			<button ng-hide="events[0].Name == 'No More Events'" type="button" class="btn btn-success btn-block" ng-click="next()">
				Next
			</button> </span>
	</div>
</div>
<div>

	<footer>
		<p>
			&copy; Copyright  by The Traveller Corporation
		</p>
	</footer>
</div>
