<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<ul class="nav navbar-nav pull-left">
				<li class="dropdown">
					<a href="" id="menu-toggle"><span style="font-size: 20px" class="glyphicon glyphicon-align-justify"></span></a>
					<script>
						$("#menu-toggle").click(function(e) {
							e.preventDefault();
							$("#wrapper").toggleClass("toggled");
						});
					</script>
				</li>
			</ul>
			<div class="form-group pull-left">
				<a href="#/"><span style="font-size: 20px" class="glyphicon glyphicon-home"></span></a>
			</div>
		</div>
	</div>
</nav>
<div id="wrapper">

	<!-- Sidebar -->
	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<div style="margin-top: 10px">
				<li>
					<a href="#/register"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Register</a>
				</li>
				<li>
					<a href="#/about"><span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;About</a>
				</li>
				<li>
					<a href="#/terms"><span class="glyphicon glyphicon-inbox"></span>&nbsp;&nbsp;Terms</a>
				</li>
				<li>
					<a href="#/privacy"><span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;Privacy</a>
				</li>
			</div>
		</ul>
	</div>
	<!-- /#sidebar-wrapper -->
</div>
<!-- Page Content -->

<div id="page-content-wrapper">
	<br>
	<div class="main-frame" style="margin-top: 65px">
		<div class="navbar-header">
			<label style="padding: 10px 0px 10px 0px; margin: 0px">Login</label>
		</div>
	</div>
	<div class="main-frame">
		<div style="margin-top: 10px">
			<span><label for="email">Email:</label></span>
			<span>
				<input type="email" class="form-control" placeholder="Enter email" ng-model="signUp.Email" required>
			</span>
		</div>
		<div>
			<span><label for="pwd">Password:</label></span>
			<span>
				<input type="password" class="form-control" placeholder="Enter password" ng-model="signUp.Password" required>
			</span>
		</div>
		<div style="border-top: 1px solid #ecf0f1">
			<span>
				<button type="button" class="btn btn-success btn-block" ng-click="login()">
					Login
				</button></span>
			<span>
				<button type="button" class="btn btn-success btn-block" ng-click="back()">
					Back
				</button></span>
		</div>
	</div>
	<div>
		<p style="color: #fff" align="center">
			&copy; Copyright 2017 The Traveller Company. Designed by Sabrsoft. All Rights Reserved
		</p>
	</div>
</div>
