<div>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<ul class="nav navbar-nav pull-left">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="">Menu<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li>
								<a href="#/login" ng-click="refresh()"><span class="glyphicon"></span>My Events</a>
							</li>
							<li>
								<a href="#/create"><span class="glyphicon"></span>New Event</a>
							</li>
							<li>
								<a href="#/" ng-click="logout()"><span class="glyphicon"></span>Logout</a>
							</li>
						</ul>
					</li>
				</ul>
				<a class="navbar-brand" href="#/">Traveller</a>
				<div class="form-group pull-right">
					<select class="form-control" id="sel1">
						<option>English</option>
					</select>
				</div>
			</div>
		</div>
	</nav>
	<p></p>
	<div class="list-group-item">
		<div class="navbar-header">
			My Events
		</div>
	</div>
	<p></p>
	<div class="list-group-item">
		<div class="table-dist event-box" ng-repeat="item in events">
			<span style="font-weight: bold">{{item.Name}}</span>
			<span>
				<div class="table-dist">
					<span>{{item.Date | jsDate | date:"hh:mm dd/MM/yyyy"}}</span>
					<span style="text-align: right">{{type(item.Type)}}</span>
				</div></span>
		</div>

		<p></p>
		<div class="table-dist">
			<span>
				<button type="button" class="btn btn-success btn-block">
					Previous
				</button></span>
			<span>
				<button type="button" class="btn btn-success btn-block">
					Next
				</button></span>
		</div>
	</div>
</div>