<div>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#/">Traveller</a>
			</div>
		</div>
	</nav>
	<div class="main-frame">
		<div style="margin-top: 10px">
			<span><label for="email">Email:</label></span>
			<span>
				<input type="email" class="form-control" placeholder="Enter email" ng-model="signUp.Email" required>
			</span>
		</div>
		<div>
			<span><label for="pwd">Password:</label></span>
			<span>
				<input type="password" class="form-control" placeholder="Enter password" ng-model="signUp.Password" required>
			</span>
		</div>
		<div style="border-top: 1px solid #ecf0f1">
			<span>
				<button type="button" class="btn btn-success btn-block" ng-click="login()">
					Login
				</button></span>
			<span>
				<button type="button" class="btn btn-success btn-block" ng-click="register()">
					Sign Up
				</button></span>
		</div>
	</div>
</div>
<div>

	<footer>
		<p>
			&copy; Copyright  by The Traveller Corporation
		</p>
	</footer>
</div>
</div>